<!doctype html>
<html lang="en">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="css/bootstrap.min.css">
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
  <div class="myForm">
    <form v-show="showForm" id="app" @submit="sendForm">
      <div class="row justify-content-center">
        <div class="form-group col-sm-4 col-lg-3">
          <label for="email" class="font-weight-bold">Email</label>
          <input v-model="formFields.email"
                 type="email"
                 class="form-control" id="email"
                 aria-describedby="emailHelp"
                 placeholder="Enter email" required>
          <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="form-group col-sm-4 col-lg-3">
          <label for="firstName" class="font-weight-bold">First Name</label>
          <input v-model="formFields.firstName" class="form-control" type="text" placeholder="Enter First Name" id="firstName" required>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="form-group col-sm-4 col-lg-3">
          <label for="lastName" class="font-weight-bold">Last Name</label>
          <input v-model="formFields.lastName"
                 class="form-control" type="text"
                 placeholder="Enter Last Name" id="lastName"
                 required
          >
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="form-group col-sm-4 col-lg-3">
          <label for="phone" class="font-weight-bold">Phone</label>
          <input class="form-control" type="tel"
                 placeholder="7-999-999-99-99"
                 id="phone"
                 pattern="7-9[0-9]{2}-[0-9]{3}-[0-9]{2}-[0-9]{2}"
                 required
                 v-model="formFields.phone"
                 @invalid="validatePhone"
          >
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-sm-4 col-lg-3">
          <span class="font-weight-bold mr-2"  @click="addGuest">Guests</span>
          <button class="btn btn-primary"
                  @click="addGuest($event)">+</button>
        </div>
      </div>
      <div class="row justify-content-center"
           v-for="(item, index) in formFields.guests"
           :key="item.id"
      >
        <div class="form-group col-sm-4 col-lg-3">
          <label :for='item.value'
                 @dblclick="removeGuest($event, index)"
                 class="font-weight-bold">Guest {{ index }}</label>
          <input v-model="item.name" class="form-control" type="text" placeholder="Name" :id="item.value">
        </div>
      </div>
      <hr class="col-sm-4 col-lg-3">
      <div class="row justify-content-center">
        <div class="col-sm-4 col-lg-3">
          <input type="submit" class="btn btn-success" value="Отправить">
        </div>
      </div>
    </form>
    <div v-show="!showForm">
      <div class="row justify-content-center">
        <table class="table table-bordered col-sm-5 col-lg-4  col-xl-4">
          <caption style="caption-side: top">All done!</caption>
          <tr v-for="(field,key,index) of formFields">
            <td style="width: 30%">{{ key }}</td>
            <td style="width: 70%">
              <template v-if="Array.isArray(field)">
                <table class="table table-bordered">
                  <tr v-for="it of field">
                    <td>{{ it.name }}</td>
                  </tr>
                </table>
              </template>
              <span v-else>{{ field }}</span>
            </td>
            <!--{{ Array.isArray(value) ? getTable(value) : value}}-->
          </tr>
        </table>
      </div>
      <div class="row justify-content-center">
        <button class="btn btn-primary"  @click="showForm = !showForm">Return</button>
      </div>
    </div>
  </div>
<script>
  const myForm = new Vue({
    el: '.myForm',
    data: {
      showForm: true,
      formFields: {
        firstName: '',
        lastName: '',
        phone: '',
        email: '',
        guests: []
      }
    },
    methods: {
      addGuest(e){
        e.preventDefault();
        this.formFields.guests.push({
          value: ['Guest '+ this.guestsLength],
          name: '',
          id: Symbol()
        })
      },
      removeGuest(e, index){
        this.formFields.guests.splice(index, 1)
      },
      sendForm(e){
        if(!app.checkValidity()) return;
         e.preventDefault();
         this.showForm = !this.showForm;
      },
      validatePhone(e){
        if(e.target.validity.patternMismatch){
          e.target.setCustomValidity('Форма должен быть 7-999-999-99-99');
        } else {
          e.target.setCustomValidity('');
        }
      }
    },
    computed: {
      guestsLength(){
        return this.formFields.guests.length
      }
    }
  })
</script>
</body>
</html>
