<!doctype html>
<html lang="en">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="css/bootstrap.min.css">
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
</head>
<body>
  <div class="myForm" style="padding-top: 30px">
    <form v-show="showForm" id="app" @submit="sendForm">
      <div class="row justify-content-center" style="margin-bottom: 20px">
        <div class="col-sm-4 col-lg-3">
          <div class="progress">
            <div class="progress-bar progress-bar-striped progress-bar-animated"
                 :class="progressBar.width === '100%' ? 'bg-success' : null"
                 role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" :style="progressBar"></div>
          </div>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="form-group col-sm-4 col-lg-3">
          <label for="email" class="font-weight-bold">
            Email
            <i v-show="formFields.email.valid === '' ? false : !formFields.email.valid" class="fas fa-exclamation-circle" style="color: red"></i>
            <i v-show="formFields.email.valid" class="fas fa-check-circle" style="color: green"></i>
          </label>
          <input v-model="formFields.email.value"
                 type="email"
                 class="form-control" id="email"
                 aria-describedby="emailHelp"
                 placeholder="Enter email" required
                 @input="checkEmail"
                 @invalid="validateEmail"
          >
          <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="form-group col-sm-4 col-lg-3">
          <label for="firstName" class="font-weight-bold">First Name
            <i v-show="formFields.firstName.valid === '' ? false : !formFields.firstName.valid" class="fas fa-exclamation-circle" style="color: red"></i>
            <i v-show="formFields.firstName.valid" class="fas fa-check-circle" style="color: green"></i>
          </label>
          <input v-model="formFields.firstName.value" class="form-control" type="text"
                 placeholder="Enter First Name" id="firstName"
                 @input="checkName"
                 required>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="form-group col-sm-4 col-lg-3">
          <label for="lastName" class="font-weight-bold">Last Name
            <i v-show="formFields.lastName.valid === '' ? false : !formFields.lastName.valid" class="fas fa-exclamation-circle" style="color: red"></i>
            <i v-show="formFields.lastName.valid" class="fas fa-check-circle" style="color: green"></i>
          </label>
          <input v-model="formFields.lastName.value"
                 class="form-control" type="text"
                 placeholder="Enter Last Name" id="lastName"
                 @input="checkName"
                 required
          >
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="form-group col-sm-4 col-lg-3">
          <label for="phone" class="font-weight-bold">Phone</label>
          <input class="form-control" type="tel"
                 placeholder="7-999-999-99-99"
                 id="phone"
                 pattern="7-9[0-9]{2}-[0-9]{3}-[0-9]{2}-[0-9]{2}"
                 required
                 v-model="formFields.phone.value"
                 @invalid="validatePhone"
                 @input="checkPhone"
          >
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-sm-4 col-lg-3">
          <span class="font-weight-bold mr-2"  @click="addGuest">Guests</span>
          <input type="button" class="btn btn-primary"
                  @click="addGuest" value="+">
        </div>
      </div>
      <div class="row justify-content-center"
           v-for="(item, index) in formFields.guests"
           :key="item.id"
      >
        <div class="form-group col-sm-4 col-lg-3">
          <label :for='item.value'
                 @dblclick="removeGuest($event, index)"
                 class="font-weight-bold">Guest {{ index }}</label>
          <input v-model="item.name" class="form-control" type="text" placeholder="Name" :id="item.value"
          >
        </div>
      </div>
      <hr class="col-sm-4 col-lg-3">
      <div class="row justify-content-center">
        <div class="col-sm-4 col-lg-3">
          <input type="submit" class="btn btn-success" value="Отправить">
        </div>
      </div>
    </form>
    <div v-show="!showForm">
      <div class="row justify-content-center">
        <table class="table table-bordered col-sm-5 col-lg-4  col-xl-4">
          <caption style="caption-side: top">All done!</caption>
          <tr v-for="(field,key,index) of formFields">
            <td style="width: 30%">{{ key }}</td>
            <td style="width: 70%">
              <template v-if="Array.isArray(field)">
                <table class="table table-bordered">
                  <tr v-for="it of field">
                    <td v-if="it.name">{{ it.name }}</td>
                  </tr>
                </table>
              </template>
              <span v-else>{{ field.value }}</span>
            </td>
            <!--{{ Array.isArray(value) ? getTable(value) : value}}-->
          </tr>
        </table>
      </div>
      <div class="row justify-content-center">
        <button class="btn btn-primary"  @click="showForm = !showForm">Return</button>
      </div>
    </div>
  </div>
<script>
  const myForm = new Vue({
    el: '.myForm',
    data: {
      showForm: true,
      formFields: {
        firstName: {
          value: '',
          valid: ''
        },
        lastName: {
          value: '',
          valid: ''
        },
        phone: {
          value: '',
          valid: ''
        },
        email: {
          value: '',
          valid: ''
        },
        guests: []
      },
      progressBar: {
        width: 0
      }
    },
    methods: {
      checkEmail(e){
        const reg = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
        this.formFields.email.valid = reg.test(e.target.value);
        this.progressBarWidth();
      },
      checkName(e){
        if(e.target.value === '') {
          this.formFields[e.target.id].valid = false;
        } else {
          const reg = /[^a-zA-Zа-яёА-ЯЁ]/;
          this.formFields[e.target.id].valid = !reg.test(e.target.value);
        }
        this.progressBarWidth();
      },
      checkPhone(e){
        const reg = /7-9[0-9]{2}-[0-9]{3}-[0-9]{2}-[0-9]{2}/;
        this.formFields.phone.valid = reg.test(e.target.value);
        this.progressBarWidth();
      },
      addGuest(e){
        e.preventDefault();
        this.formFields.guests.push({
          value: ['Guest '+ this.guestsLength],
          name: '',
          id: Symbol()
        })
      },
      removeGuest(e, index){
        this.formFields.guests.splice(index, 1)
      },
      sendForm(e){
        if(!app.checkValidity()) return;
         e.preventDefault();
         this.showForm = !this.showForm;
      },
      validateEmail(e){
        if(e.target.validity.valueMissing){
          e.target.setCustomValidity('Please fill out this field')
        } else {
          const reg = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
          if(!reg.test(e.target.value)){
            e.target.setCustomValidity('An email address must contain a single @ and domain')
          } else {
            e.target.setCustomValidity('')
          }
        }
      },
      validatePhone(e){
        if(e.target.validity.patternMismatch){
          e.target.setCustomValidity('Sample of phone 7-999-999-99-99');
        } else if (e.target.validity.valueMissing){
          e.target.setCustomValidity('Please fill out this field');
        } else {
          e.target.setCustomValidity('');
        }
      },
      progressBarWidth(){
        let length = 0;
        let value = 0;
        for(let field in this.formFields){
          if(this.formFields[field].valid) value++;
          if(field === 'guests') continue;
          length++;
        }
        this.progressBar.width = `${value / length * 100}%`
      }
    },
    computed: {
      guestsLength(){
        return this.formFields.guests.length
      }
    }
  })
</script>
</body>
</html>
